.hmenu {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

.hmenu ul {
    list-style: none;
    padding: 0;
}

.hmenu ul li {
    display: inline;
}

.hmenu ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.hmenu ul li a:ahover {
    background-color: #ccf1ba;
    color:blueviolet;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: wavy;
}

.hmenu ul li a:visited {
    color: black;
    font-family: fantasy;
}